<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Emsidi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>

<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Cabang Emsidi</h2>
                <br>
                <form th:action="@{/cabang/add}" th:object="${cabang}" method="POST">
                    Nama Cabang : <br>
                    <input required class="form-control" type="text" name="namaCabang" th:value="*{namaCabang}"/>
                    <br><br>

                    Alamat : <br>
                    <input required class="form-control" type="text" name="alamatCabang" th:value="*{alamatCabang}"/>
                    <br><br>

                    Nomor Telepon : <br>
                    <input required class="form-control" type="text" name="noTeleponCabang" th:value="*{noTeleponCabang}"/>
                    <br><br>

                    Waktu Buka : <br>
                    <input required class="form-control" type="time" name="waktuBuka" th:value="*{waktuBuka}"/>
                    <br><br>

                    Waktu Tutup : <br>
                    <input required class="form-control" type="time" name="waktuTutup" th:value="*{waktuTutup}"/>
                    <br><br>

                    <table class="table" id="tableMenu" th:if="${role == 'Manajer'}">
                        <thead>
                        <th>Nama Menu</th>
                        <th >
                            <input class="btn btn-primary" type="submit" name="addRow" value ="Add Row">
                        </th>
                        </thead>
                        <tbody>
                        <tr th:each="menu, iterationStatus : *{listMenu}">
                            <td>
                                <select class="form-control" id="selectMenu"
                                        th:field = "*{listMenu[__${iterationStatus.index}__].noMenu}" >
                                    <option th:each ="menu: ${listMenu}"
                                            th:text = "${menu.namaMenu}"
                                            th:value = "${menu.noMenu}">
                                    </option>
                                </select>
                            </td>

                            <td>
                                <button type="submit" class="btn btn-primary" name="deleteRow" th:value ="${iterationStatus.index}">Hapus</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a class="btn btn-primary" href="/">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>